<div class="d-flex align-items-center justify-content-center h-100 bg-light flex-column" style="min-height: 100vh;">
    <h1>Confirmation</h1>
    <p>This is an admin page and it's only accesible by the administrator. Are you sure you want to enter?</p>
    <a href="/admin/login">Yes.</a>
</div>