<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Green Complaint">
    <meta name="description" content="Create reports to help to the community and the environment to create a better world. By doing this, you are not only helping your community to have better views. You also help the place have a better environment and everyone can benefit from it.">
    <meta name="keywords" content="green, complaint, environment, yla, young, living, academy">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Environmental Club - YLA">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://green-complaint.herokuapp.com/">
    <meta property="og:title" content="Green Complaint | Report environment problems">
    <meta property="og:description" content="Create reports to help to the community and the environment to create a better world. By doing this, you are not only helping your community to have better views. You also help the place have a better environment and everyone can benefit from it.">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://green-complaint.herokuapp.com/">
    <meta property="twitter:title" content="Green Complaint | Report environment problems">
    <meta property="twitter:description" content="Create reports to help to the community and the environment to create a better world. By doing this, you are not only helping your community to have better views. You also help the place have a better environment and everyone can benefit from it.">
    <title>Green Complaint | Report enviroment problems</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icons/android-chrome-192x192.png">
    <link rel="manifest" href="/manifest/site.webmanifest">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="/manifest/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/build.css">
</head>
<body>
  <main>
    {{>messages}}
    {{{body}}}
</main>
    <script src="/manifest/renderer.js"></script>
</body>
</html>