<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden">
<head>
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Green Complaint">
    <link rel="canonical" href="https://green-complaint.herokuapp.com/">
    <meta name="description" content="Create reports to help to the community and the environment to create a better world. By doing this, you are not only helping your community to have better views. You also help the place have a better environment and everyone can benefit from it.">
    <meta name="keywords" content="green, complaint, environment, yla, young, living, academy">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Environmental Club - YLA">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://green-complaint.herokuapp.com/">
    <meta property="og:title" content="Green Complaint | Report environment problems">
    <meta property="og:description" content="Create reports to help to the community and the environment to create a better world. By doing this, you are not only helping your community to have better views. You also help the place have a better environment and everyone can benefit from it.">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://green-complaint.herokuapp.com/">
    <meta property="twitter:title" content="Green Complaint | Report environment problems">
    <meta property="twitter:description" content="Create reports to help to the community and the environment to create a better world. By doing this, you are not only helping your community to have better views. You also help the place have a better environment and everyone can benefit from it.">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Green Complaint | Report enviroment problems</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icons/android-chrome-192x192.png">
    <link rel="manifest" href="/manifest/site.webmanifest">
    <link rel="shortcut icon" href="/icons/logo-green.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="/manifest/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="green">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/build.css">
    <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.6.1/dist/simpleParallax.min.js"></script>
</head>
<body class="overflow-x-hidden" onload="disableLoader()">
    <div class="loader fixed top-0 left-0 w-full h-full transition-all duration-500">
      <div class=" absolute top-0 left-0 w-full h-full bg-black/30 backdrop-blur-xl"></div>
      <div class="bg-white p-8 shadow-lg -translate-x-1/2 -translate-y-1/2 absolute top-1/2 left-1/2 rounded-xl">
        <div class="w-12 h-12 rounded-full border-4 border-gray-200 border-t-teal-500 animate-spin"></div>
      </div>
    </div>
      <noscript>
          You need to have JavaScript or enable it to see the page correctly.
      </noscript>
  <main>
    {{>messages}}
    {{{body}}}
</main>
    <script src="/manifest/renderer.js"></script>
    <script src="/service-worker.js"></script>
    <script>
        ScrollReveal().reveal('.presentation');
        ScrollReveal().reveal('.welcome', { delay: 250 });
        ScrollReveal().reveal('.content-1', { delay: 250 });
        ScrollReveal().reveal('.content-2', { delay: 250 });
        ScrollReveal().reveal('.the-team', { delay: 250 });
        ScrollReveal().reveal('.start', { delay: 250 });
    </script>
    
  <script>
    const images = document.querySelectorAll('.parallax-image');
    new simpleParallax(images, {
      scale: 1.5,
      overflow: true
    });
  </script>
  <script>
    const btn = document.querySelector('#btn');
    const sidebar = document.querySelector('.sidebar');

    btn.addEventListener('click', () => {
        sidebar.classList.toggle('active');
    })
</script>
<script>
  const loader = document.querySelector('.loader');
  const allForms = document.querySelectorAll('form');
  const allLinks = document.querySelectorAll('a');

function disableLoader() {
    setTimeout(() => {
      setTimeout(() => {
        loader.classList.add('hidden');
      }, 500);
    loader.classList.add('opacity-0');
    }, 3000);
};

function activateLoader() {
    loader.classList.remove('opacity-0');
    loader.classList.remove('hidden');
    loader.classList.add('opacity-1');
};

allForms.addEventListener('submit', activateLoader);
allLinks.addEventListener('click', activateLoader);

</script>
<script>
  if ('serviceWorker' in navigator) {
  window.addEventListener('load', function() {
  navigator.serviceWorker.register('service-worker.js').then(function(registration) {
  // Registration was successful
  console.log('Registered!');
  }, function(err) {
  // registration failed :(
  console.log('ServiceWorker registration failed: ', err);
  }).catch(function(err) {
  console.log(err);
  });
  });
  } else {
  console.log('service worker is not supported');
  }
  </script>
  <script>
    window.addEventListener('beforeinstallprompt', e => {
  console.log('beforeinstallprompt Event fired');
  e.preventDefault();
  // Stash the event so it can be triggered later.
  this.deferredPrompt = e;
  return false;
  });
// When you want to trigger prompt:
this.deferredPrompt.prompt();
  this.deferredPrompt.userChoice.then(choice => {
  console.log(choice);
  });
this.deferredPrompt = null;
  </script>
</body>
</html>
