<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
<style>.404{min-height:100vh;}</style>
<div class="d-flex align-items-center justify-content-center flex-column bg-light 404 h-100">
    <h1>404 Not Found</h1>
    <small>That page doesn't exists.</small>
    <a href="/home">Go to home</a>
</div>