
<style>body{min-height:100vh;}</style>
<div class="d-flex align-items-center justify-content-center flex-column bg-light">
    <h1>404 Not Found</h1>
    <small>That page doesn't exists.</small>
    <a href="/home">Go to home</a>
</div>