<div class="min-h-screen bg-gray-100">
    <!-- Sidebar -->
    <div class="fixed bg-white shadow-xl rounded-xl top-10 left-5 h-3/4">
        <div class="flex flex-col items-center justify-center">
            <ul>
                <li>
                    <a href="/home" class="relative inline-block px-6 py-3 text-3xl text-green-500 before:absolute before:h-3/4 before:w-1 before:rounded-lg before:left-3 before:top-3 before:bg-green-500">
                        <i class="bi bi-house-door"></i>
                    </a>
                </li>
                <li>
                    <a href="/reports" class="inline-block px-6 py-3 text-3xl hover:text-green-500">
                        <i class="bi bi-flag"></i>
                    </a>
                </li>
                <li>
                    <a href="/reports/resolved" class="inline-block px-6 py-3 text-3xl hover:text-green-500">
                        <i class="bi bi-check"></i>
                    </a>
                </li>
                <li>
                    <a href="/reports/add" class="inline-block px-6 py-3 text-3xl hover:text-green-500">
                        <i class="bi bi-plus"></i>
                    </a>
                </li>
            </ul>
            <a class="inline-block px-6 py-3 mt-[240%] hover:text-green-500 user-options" href="/users/options/{{user.id}}">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0   110-2 1 1 0 010 2z" />
                </svg>
            </a>
        </div>
    </div>
    <div class="pt-10 ml-32 content">
        <h1 class="mb-10 text-3xl font-bold text-semibold md:text-3xl">What do you want to do?</h1>
        <div id="options" class="flex flex-col justify-center gap-10">
            <!-- Reports option -->
            <a class="flex flex-col justify-center w-11/12 mr-10 transform shadow-xl hover:-translate-y-3 hover:shadow-2xl" href="/reports">
                <div class="p-4 bg-gray-200 rounded-t-lg header">
                    <h1 class="text-2xl font-semibold">See all reports</h1>
                </div>
                <div class="flex flex-row items-center justify-between px-4 rounded-b-lg py-7 option-content">
                    <p class="text-gray-500">See the newest reports around.</p>
                    <p class="text-green-500">Go &rarr;</p>
                </div>
            </a>
            <!-- Create option -->
            <a class="flex flex-col justify-center w-11/12 mr-10 transform shadow-xl hover:-translate-y-3 hover:shadow-2xl" href="/reports">
                <div class="p-4 bg-gray-200 rounded-t-lg header">
                    <h1 class="text-2xl font-semibold">Create your own</h1>
                </div>
                <div class="flex flex-row items-center justify-between px-4 rounded-b-lg py-7 option-content">
                    <p class="text-gray-500">Add your problem here.</p>
                    <p class="text-green-500">Go &rarr;</p>
                </div>
            </a>
            <!-- User option -->
            <a class="flex flex-col justify-center w-11/12 mr-10 transform shadow-xl hover:-translate-y-3 hover:shadow-2xl" href="/reports">
                <div class="p-4 bg-gray-200 rounded-t-lg header">
                    <h1 class="text-2xl font-semibold">Edit your user</h1>
                </div>
                <div class="flex flex-row items-center justify-between px-4 rounded-b-lg py-7 option-content">
                    <p class="text-gray-500">Go to your user options and change it your own.</p>
                    <p class="text-green-500">Go &rarr;</p>
                </div>
            </a>
        </div>
    </div>
</div>