<div class="min-h-screen overflow-hidden wrapper">
  <header class="flex items-center justify-center !text-center presentation min-h-screen flex-col overflow-hidden">
    <video src="/media/index-video-presentation.mp4" class="absolute top-0 left-0 object-cover w-full h-full" autoplay loop muted style="z-index: -1;"></video>
    <h1 class="mb-5 text-3xl font-extrabold tracking-tight text-white sm:text-5xl lg:text-6xl">
    Lorem ipsum dolor sit amet consectetur.
  </h1>
  <p class="mb-5 text-white">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla veniam doloremque architecto quasi explicabo minima optio quaerat commodi nemo natus nam similique, magni eligendi deserunt reprehenderit odio libero alias.
  </p>
  <a href="/users/signin" class="inline-block px-6 py-3 text-transparent shadow-xl rounded-xl" style="background: url(/media/hero-index-button.png) no-repeat center;">
    Start now &rarr;
  </a>
  </header>
  <div class="w-11/12 mx-auto">
  <div class="flex items-center justify-center mt-10 gap-x-10 content-1">
    <div class="flex-auto left content">
      <h1 class="mb-5 text-2xl font-extrabold tracking-tight text-gray-900 sm:text-4xl lg:text-5xl">Lorem ipsum dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quo dolorum nam! Est unde hic laudantium, deleniti cupiditate esse eaque aut repudiandae doloribus culpa ab eveniet quam officiis, ipsum eos odio in amet qui et incidunt libero necessitatibus nobis sequi ut? Rerum ipsum qui dolorem tempore architecto quam deserunt odio.</p>
    </div>
      <div class="flex-auto right image">
          <img src="/media/index-image-1.jpg" alt="Mangla image" class="object-cover parallax-image w-80 h-80 rounded-xl" loading="lazy">
      </div>
  </div>
  <div class="flex items-center justify-center mt-10 gap-x-10 content-2">
    <div class="flex-auto left content image">
          <img src="/media/index-image-2.jpg" alt="Mangla image" class="object-cover parallax-image image-2 w-80 h-80 rounded-xl" loading="lazy">
    </div>
      <div class="flex-auto text-right right">
      <h1 class="mb-5 text-2xl font-extrabold tracking-tight text-gray-900 sm:text-4xl lg:text-5xl">Lorem ipsum dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quo dolorum nam! Est unde hic laudantium, deleniti cupiditate esse eaque aut repudiandae doloribus culpa ab eveniet quam officiis, ipsum eos odio in amet qui et incidunt libero necessitatibus nobis sequi ut? Rerum ipsum qui dolorem tempore architecto quam deserunt odio.</p>
      </div>
  </div>
  <div class="my-10 space-y-5 testimonials">
    <h1 class="mt-10 text-2xl font-extrabold tracking-tight text-center sm:text-4xl lg:text-5xl">The team that brings to life Green Complaint.</h1>
  </div>
  </div>
</div>
<footer class="flex items-center justify-between w-screen text-gray-500 bg-gray-100 p-14 footer-index">
  <div class="logo">
    <img src="/icons/logo-black.png" alt="Logo" class="inline-block w-10">
    <span class="inline-block">&nbsp;Green Complaint</span>
  </div>
    <div class="copyright">
      <span>© 2021 - Environmental Club - <a href="https://younglivingacademy.edu.ec/">Young Living Academy</a></span>
    </div>
  </footer>
  <script>
    const images = document.querySelectorAll('.parallax-image');
    new simpleParallax(images, {
      scale: 1.5,
      overflow: true,
      interval: 5
    });
  </script>