<div class="flex flex-col items-center justify-center px-16 m-6 space-y-6 text-center text-white bg-green-400 shadow-xl hero dark:bg-green-500 dark:bg-opacity-25 rounded-xl" style="min-height: 90vh;">
      <h1 class="text-3xl font-bold md:text-5xl">Help the environment with your reports.</h1>
      <p class="text-md md:text-lg">Create reports to help to the community and the environment to create a better world.</p>
      <div class="flex-row">
        <a class="inline-block py-2 px-4 rounded-xl bg-white text-green-900 font-medium transform hover:-translate-y-1 hover:shadow-lg mb-4 ml-8 md:m-0" href="#">
              Download now
            </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a class="inline-block py-2 px-4 rounded-xl border text-white font-medium transform hover:-translate-y-1 hover:shadow-lg" href="/users/signup">
        Or use the web version
      </a>
      </div>
    </div>
    <div class="flex items-center justify-between flex-col md:flex-row mx-6 my-16 text-center">
      <div class="features space-y-4">
        <div class="inline-block p-3 bg-green-600 rounded-xl shadow-lg">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9" />
</svg>
        </div>
        <h1 class="text-xl font-extrabold md:text-5xl dark:text-white">
          Create reports and help to the environment.
        </h1>
        <p class="text-lg md:text-xl text-gray-700 dark:text-gray-500">By creating your reports, you are not only helping your community to have better views. You also help the place have a better environment and everyone can benefit from it.</p>
        <a class="inline-block py-2 px-4 rounded-xl bg-green-500 dark:bg-green-700 text-white font-medium transform hover:-translate-y-1 hover:shadow-lg mb-4 text-center md:m-0" href="/users/signup">
              Start now
            </a>
      </div>
    </div>
     <div class="flex flex-col items-center justify-center min-h-screen space-y-4 bg-green-500 bg-opacity-25 py-14 mt-14">
                <h1 class="text-3xl font-bold md:text-4xl lg:text-6xl dark:text-white">Ready to help?</h1>
                <a class="inline-block py-2 px-4 rounded-xl bg-green-500 dark:bg-green-700 text-white font-medium transform hover:-translate-y-1 hover:shadow-lg mb-4 text-center md:m-0" href="/users/signup">
              Get started
            </a>
            </div>
    </div>