<div class="flex flex-col items-center justify-center px-16 m-6 space-y-6 text-center text-white bg-green-400 shadow-xl hero rounded-xl" style="min-height: 90vh;">
      <h1 class="text-3xl font-bold md:text-5xl">Help the environment with your reports.</h1>
      <p class="text-md md:text-lg">Create reports to help to the community and the environment to create a better world.</p>
      <div class="flex-row">
        <a class="inline-block px-4 py-2 mb-4 ml-8 font-medium text-green-900 transform bg-white rounded-xl hover:-translate-y-1 hover:shadow-lg md:m-0" href="/users/signup">
              Start now
            </a>
      </div>
    </div>
    <div class="flex flex-col items-center justify-between mx-6 my-16 text-center md:flex-row">
      <div class="space-y-4 features">
        <div class="inline-block p-3 bg-green-600 shadow-lg rounded-xl">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9" />
</svg>
        </div>
        <h1 class="text-xl font-extrabold md:text-5xl">
          Create reports and help to the environment.
        </h1>
        <p class="text-lg text-gray-700 md:text-xl">By creating your reports, you are not only helping your community to have better views. You also help the place have a better environment and everyone can benefit from it.</p>
        <a class="inline-block px-4 py-2 mb-4 font-medium text-center text-white transform bg-green-500 rounded-xl hover:-translate-y-1 hover:shadow-lg md:m-0" href="/users/signup">
              Start now
            </a>
      </div>
    </div>
     <div class="flex flex-col items-center justify-center min-h-screen space-y-4 bg-green-500 bg-opacity-25 py-14 mt-14">
                <h1 class="text-3xl font-bold md:text-4xl lg:text-6xl">Ready to help?</h1>
                <a class="inline-block px-4 py-2 mb-4 font-medium text-center text-white transform bg-green-500 rounded-xl hover:-translate-y-1 hover:shadow-lg md:m-0" href="/users/signup">
              Get started
            </a>
            </div>
    </div>