<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User options - Green Complaint - Report environment problems</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">  <style>
body {
  font-size: .875rem;
  background: #fff!important;
  position: relative;
}
/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
</style>
</head>
<body>
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow navbar-expand">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/home">Green Complaint</a>
  </button>
  <div class="navbar-nav ms-auto">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="/users/logout">Sign out</a>
    </div>
  </div>
</header>

<div class="container-fluid">
    <div class="position-fixed start-0 bottom-0 p-3">
      <div class="bg-light p-3 rounded-pill shadow-lg border">
        <a href="/home" class="link-dark"><i class="bi bi-house-door"></i> Go to home page</a>
      </div>
    </div>

    <main class="ms-sm-auto px-md-4">
      <div class="main my-5">
        <h1 class="h1 fw-bolder">Options</h1>
        </div>
        <div class="my-4 w-100 row align-items-center jusitfy-content-center h-100">
            <div class="col-md-8">
              <h1 class="fw-bolder my-4">Profile</h1>
                <h1 id="profile"><span class="fw-light">Name: </span>{{userData.name}}</h1>
                <small class="text-muted"><span class="fw-light">Email: </span>{{userData.email}}</small>
            </div>
            <div class="col-md-4">
                &nbsp;  
            </div>
        </div>
        <div class="my-4 w-100 row align-items-center jusitfy-content-center h-100">
            <div class="col-md-8">
              <h1 id="delete" class="fw-bolder my-4">Delete account</h1>
              <form action="/users/options/deleteaccount/{{userData.id}}?_method=DELETE" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn btn-outline-danger">Delete account</button>
              <small class="text-muted d-block mt-1">(Ok this is the 3rd time i'll say this...) <strong>NO HOLDING BACK!!!!!!!!!</strong></small>
              </form>
              </div>
            <div class="col-md-4">
                &nbsp;  
            </div>
        </div>
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>