<div>
<div id="content">
  <div class="d-flex align-items-center justify-content-center flex-column" style="min-height: 100vh;">
    <div class="border-0 pt-0 mx-0 rounded-3 shadow overflow-hidden" style="width: 50%;background-color:#343a40;">
        <div class="px-4 py-3 mb-2 bg-dark border-bottom border-dark text-center h2 text-light">
          Account Register
        </div>
        <form action="/users/signup" method="POST" style="background-color:#343a40;" class="p-5">

            <label for="name"><small class="text-light">Your name:</small></label>
            <input type="text" class="form-control mb-3 text-light" style="background-color: rgba(255, 255, 255, .2); border-color: rgba(255, 255, 255, .3);" placeholder="Your name" name="name" autofocus value="{{name}}">

            <label for="email"><small class="text-light">Email:</small></label>
            <input type="email" class="form-control mb-3 text-light" style="background-color: rgba(255, 255, 255, .2); border-color: rgba(255, 255, 255, .3);" placeholder="name@domain.com (example)" name="email" value="{{email}}">

            <label for="password"><small class="text-light">Password:</small></label>
            <input type="password" class="form-control mb-3 text-light" style="background-color: rgba(255, 255, 255, .2);border-color: rgba(255, 255, 255, .3);" placeholder="Your password" name="password">

             <label for="confirm_password"><small class="text-light">Confirm password:</small></label>
            <input type="password" class="form-control mb-3 text-light" style="background-color: rgba(255, 255, 255, .2);border-color: rgba(255, 255, 255, .3);" placeholder="Repeat password" name="confirm_password">
              <button type="submit" class="btn btn-dark w-100 d-block" id="btn-spinner">Register</button>
        </form>
      </div>  
</div>
</div>
</div>