<div class="flex items-center justify-center min-h-screen bg-gray-300">
<div class="p-6 text-center bg-white rounded-lg shadow-xl md:p-10">
    <h3 class="mb-10 text-2xl font-bold">Sign-in to your account</h3>
    <form action="/users/signin" method="POST" class="flex flex-col items-center justify-center">
      <input class="p-3 mb-4 border border-gray-200 rounded-lg focus:border-teal-600 focus:border-4 hover:border-2" type="email" placeholder="Your e-mail" name="email" value={{email}}>
      <input class="p-3 mb-4 border border-gray-200 rounded-lg focus:border-teal-600 focus:border-4 hover:border-2" type="password" placeholder="Your password" name="password" value="{{password}}">
      <button class="px-4 py-2 text-white bg-teal-500 rounded-lg">Sign-in</button>
      <span class="mt-2 text-center text-gray-500 text-md">Don't have an account? <a href="/users/signup" class="text-teal-500">Sign-up</a>.</span>
  </form></div></div>